body.edit div#blocks-wrapper div#inner-blocks-wrapper textarea {
	width: 99%;
}


/*
	these rules will show max/min image dimensions on image regions using the existing
*/
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element {
	position: absolute;
	top: 0;
	left: 136px;
	background: white;
	font-size: 11px;
	line-height: 1em;
	padding: 5px 5px 6px 5px;
	margin: 1px;
	display: block;
}
.ie7 body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element { display: none; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .width,
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .height,
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .asset-id { 	display: none; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width:before { content: 'Min.: '; }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-width:after { content: ' x'; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-height { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .min-height:after { content: 'px'; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width:before { content: '| Max.: '; }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-width:after { content: ' x'; }

body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-height { }
body.blocks div#blocks-wrapper div#inner-blocks-wrapper .image-region-wrapper div.blocks-element .max-height:after { content: 'px'; }

.repeatable-container-tools,
.repeatable-area-tools {
	-webkit-box-sizing: content-box;
	   -moz-box-sizing: content-box;
	        box-sizing: content-box;
}



body {
	font-family: sans-serif;
	background-color: #e7e7e7;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.blocks_note {
	display: block;
	font-weight: bold;
	margin: 10px 0;
}
/* Fonts*/

.font_pf_din {
	font-family: 'PFDinTextCompPro-Light',sans-serif;
}

.font_osp_din {
	font-family: 'OSPDIN', sans-serif;
}

.red {
	color: #e31b23;
}

.red_bg {
	background-color: #e31b23;
}

#header {
	padding: 20px 0 0 0;
	height: auto;
}

#header a {
	display: inline;
}

/*
	MAIN
*/


#main {
	margin-top: 10px;
	width: 1040;
}

#mainmenu_wrap {
	display: none;
}

/* hero banner */

.hero_banner, .hero_banner.large, .hero_banner.large .banner_item {
	float: none;
	width: auto;
	height: auto;
	position: static;
}

.hero_banner .banner_item {
	display: block;
	position: static;
	width: auto;
	height: auto;
}

.image_caption {
	background-color: white;
	font-size: 18px;
	text-transform: none;
	position: static;
}


.banner_item .image_caption {
	max-width: auto;
}

.banner_item .image_caption h1,
.banner_item .image_caption h2
{
	font-size: 20px;
}


/* newsbox */

.news_box {
	width: auto;
	height: auto;
	float: none;
}

.news_box .heading {
	font-size: 20px;
	text-transform: none;
}

.news_item .date {
	color: #868686;
	text-transform: none;
}

.news_item .text {
	width: auto;
	float: none;
}

.news_item > span > a {
	text-transform: none;
	display: block;
	float: none;
}

/* box banners */

.box_banner {
	width: auto;
	height: auto;
	float: none;
	margin: 0 0 35px 0;
	position: static;
}

.box_banner:first-child {
	margin: 0 0 35px 0;
}

.box_banner .image_caption {
	bottom: 5px;
	left: 7px;
	max-width: auto;
}

/* thumbnail banners */


.thumb_banner,
.thumb_banner:first-child {
	background-color: white;
	width: auto;
	height: auto;
	margin: 0 0 25px 0;
	float: none;
	position: static;
}

/* red image overlay */

.image_overlay {
	position: static;
	width: auto;
	height: auto;
	opacity: 1;
	filter: alpha(opacity = 100);
	text-transform: none;
	overflow: visible;
	-webkit-transition: none;
	-moz-transition: none;
}

.image_overlay .inner {
	padding: 8px;
	position: static;
	width: auto;
	height: auto;
	font-size: 20px;
}

.image_overlay .heading {
	font-size: 20px;
	margin: 0 0 22px 0;
}

.image_overlay .link a {
	position: static;
}

.box_banner:hover .image_overlay,
.thumb_banner:hover .image_overlay,
.banner_listing_wrap li:hover .image_overlay,
.banner_item:hover .image_overlay {
	width: auto;
	height: auto;
}

.thumb_banner .image_overlay .inner {
	width: auto;
	height: auto;
}

.banner_listing_wrap li .image_overlay .inner {
	width: auto;
	height: auto;
	font-size: 20px;
}

.banner_listing_wrap li .image_overlay .heading {
	font-size: 20px;
}


.hero_banner .image_overlay .inner {
	width: auto;
	height: auto;
	font-size: 20px;
}

.hero_banner .image_overlay .heading {
	font-size: 20px;
}



/*
	BANNER LISTING
*/

.banner_listing_wrap {
	width: auto;
}

.banner_listing_wrap ul {
	text-transform: none;
}

.banner_listing_wrap li {
	width: auto;
	height: auto;
	float: none;
	position: static;
}

.banner_listing_wrap li h3.red {
	font-size: 20px;
	line-height: 1em;
	position: static;
	width: auto;
	margin-bottom: 10px;
}

.cssanimations .image_overlay {
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	-webkit-transition-delay: 0;
	   -moz-transition-delay: 0;
	    -ms-transition-delay: 0;
	     -o-transition-delay: 0;
}

.cssanimations .box_banner:hover .image_overlay,
.cssanimations .thumb_banner:hover .image_overlay,
.cssanimations .banner_listing_wrap li:hover .image_overlay,
.cssanimations .banner_item:hover .image_overlay {
	width: auto;
	height: auto;
}

.content_heading {
	width: auto;
	background-color: white;
	font-size: 20px;
	text-transform: none;
}

.content_heading h3 {
	font-size: 20px;
}


/*
	INFO LISTING
*/

.info_listing_wrap {
	
}

.listing_item {
	width: auto;
}

.listing_item .item_heading {
	font-size: 20px;
	cursor: default;
	text-transform: none;
	position: static;
}

.listing_item .content {
	display: block;
}

.listing_item .text {
	float: none;
	width: auto;
}

.listing_item .listing_gallery {
	width: auto;
	height: auto;
	position: static;
	float: none;
}

.listing_item .listing_gallery > img {
	position: static;
	display: block;
}

.listing_gallery .arrow {
	width: 25px;
	height: 25px;
	background-image: url(../img/icon_arrows.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin: -12px 0 0 0;
	cursor: pointer;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}


.toggle_state {
	display: none;
}


/*
	image text page
*/

.text_image_wrap {
	background-color: white;
}

.text_image_wrap h1 {
	font-size: 20px;
	text-transform: none;
}

.text_image_wrap .float_left {
/*	width: auto;*/
}

.text_image_wrap .float_right {
/*	width: auto;*/
}

.editable_text h1,
.editable_text h2,
.editable_text h3,
.editable_text h4,
.editable_text h5,
.editable_text h6 {
	text-transform: none;
}

/*
	LIVE NAV
*/

#content {
	position: static;
}

#live_nav {
	position: static;
	width: auto;
	margin: 20px 0;
}

#live_nav ul {
	background-color: white;
}

#live_nav ul li > a {
	position: static;
}

#live_nav ul li > a > img {
	position: static;
}

#live_nav .heading {
	text-transform: none;
}

.gradient_overlay {
	display: none;
}

.youtube_link {
	display: block;
	padding: 10px 30px;
}

.location_info .tabname {
	display: block;
}

/*
	GALLERY
*/

#gallery {
	width: auto;
	height: auto;
	position: static;
}

#gallery .image_wrap {
	
}

.image_wrap .item {
	position: static;
	display: block;
	width: auto;
}


.gallery_nav {
	display: none;
}

.red_link > a {
	float: none;
	position: static;

}

.location_listing.listing_item .content {
	display: block;
}

.location_info .googlemap {
	width: auto;
	height: auto;
}

.googlemap .config {
	display: block;
	margin: 70px 10px 10px 10px;
	padding: 15px;
	border: 1px solid #666;
	color: black;
}