@font-face {
	font-family: 'PFDinTextCompPro-Light';
	src: url('../fonts/pf-din-webfont.eot');
	src: url('../fonts/pf-din-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/pf-din-webfont.woff') format('woff'),
		 url('../fonts/pf-din-webfont.ttf') format('truetype'),
		 url('../fonts/pf-din-webfont.svg#wf') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OSPDIN';
    src: url('../fonts/osp-din-webfont.eot');
    src: url('../fonts/osp-din-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/osp-din-webfont.woff') format('woff'),
         url('../fonts/osp-din-webfont.ttf') format('truetype'),
         url('../fonts/osp-din-webfont.svg#OSPDIN') format('svg');
    font-weight: normal;
    font-style: normal;

}


/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */


/* =============================================================================
   HTML5 element display
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio[controls], canvas, video { display: inline-block; *display: inline; *zoom: 1; }


/* =============================================================================
   Base
   ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Force vertical scrollbar in non-IE
 * 3. Remove Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevent iOS text size adjust on device orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */

html { font-size: 100%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

body { margin: 0; font-size: 13px; line-height: 1.231; }

body, button, input, select, textarea { font-family: sans-serif; color: #222; }

/*
 * These selection declarations have to be separate
 * No text-shadow: twitter.com/miketaylr/status/12228805301
 * Also: hot pink!
 */

::-moz-selection { background: #f0f0f0; color: #000; text-shadow: none; }
::selection { background: #f0f0f0; color: #000; text-shadow: none; }


/* =============================================================================
   Links
   ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }


/* =============================================================================
   Typography
   ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */

/*
 * Improve image quality when scaled in IE7
 * code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */

img { border: 0; -ms-interpolation-mode: bicubic; }

/*
 * Correct overflow displayed oddly in IE9
 */

svg:not(:root) {
    overflow: hidden;
}


/* =============================================================================
   Figures
   ========================================================================== */

figure { margin: 0; }


/* =============================================================================
   Forms
   ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 * 2. Correct inner spacing displayed oddly in IE6/7
 */

button, input { line-height: normal; *overflow: visible; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

/*
 * Remove inner padding and border in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/* Remove default vertical scrollbar in IE6/7/8/9 */
textarea { overflow: auto; vertical-align: top; }

/* Colors for form validity */
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
   Tables
   ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }


/* =============================================================================
   Primary styles
   Author: Christian Klammer for SCT Melbourne - www.sct.com.au
   ========================================================================== */

/* General */

body {
	font-family: sans-serif;
	background-color: #e4e4e4;
	background-image: url(../img/bg_alto.jpg);
	background-repeat: no-repeat;
	background-position: center 267px;
}

a {
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
}

.blocks_note {
	display: none;
}

/* Fonts*/

.font_pf_din {
	font-family: 'PFDinTextCompPro-Light',sans-serif;
}

.font_osp_din {
	font-family: 'OSPDIN', sans-serif;
}

.red,
.location_names li.red {
	color: #e31b23;
}

.red_bg {
	background-color: #e31b23;
}

.rgba .image_overlay.red_bg {
	background-color: rgba(227,27,35,.85);
}

/*
	HEADER
*/

#header {
	height: 267px;
	text-align: center;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: center top;
}

#header a {
	display: none;
}


/*
	MAINMENU
*/

#mainmenu_wrap {
	position: absolute;
	top: 267px;
	left: 0;
	height: 96px;
	width: 100%;
	background-color: white;
/*	border-top: 20px solid #e4e4e4;*/
	z-index: 9000;
}

#mainmenu_wrap.fixed {
	position: fixed;
	top: 0;
	left: 0;
}

#mainmenu_wrap .shadow {
	position: absolute;
	top: 96px;
	left: 0;
	width: 100%;
	height: 8px;
	background-image: url(../img/menu_arched_shadow.png);
	background-repeat: no-repeat;
	background-position: center top;
}

#mainmenu_wrap .upper {
	width: 100%;
	height: 20px;
	background-color: #e4e4e4;
	box-shadow: inset 0 2px 5px -4px black;
}

#mainmenu_wrap .inner {
	margin: 0 auto;
	width: 960px;
	position: relative;
}

#mainmenu_wrap #alto_logo {
	width: 71px;
	height: 76px;
	float: left;
	background-image: url(../img/logo_alto.png);
	margin: 0 0 0 15px;
}

#mainmenu,
#mainmenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#mainmenu {
	text-transform: uppercase;
	margin: 0 0px 0 20px;
	text-align: center;
}

#mainmenu > li {
/*	float: left;*/
	display: inline-block;
	text-align: left;
	position: relative;
	margin: 0 1px 0 0;
	z-index: 9000;
}

.ie7 #mainmenu > li {
	float: left;
	display: block;
}

#mainmenu > li:after {
	content: '';
	position: absolute;
	background: #c8c8c8;
	top: 29px;
	left: -1px;
	width: 1px;
	height: 20px;
}

#mainmenu > li.home:after {
	background: white;
	width: 0px;
	height: 0px;
}

#mainmenu > li > a {
	font-size: 18px;
	line-height: 1em;
	display: block;
	padding: 31px 12px 0 12px;
	height: 45px;
	color: #c8c8c8;
}

#mainmenu > li:hover > a {
	color: #7b7b7b;
	background-color: #f7f7f7;
}

#mainmenu > li > a.current {
	color: #7b7b7b;
}

#mainmenu > li.home > a {
	text-indent: -9999px;
	background-image: url(/templates/pact_alto/img/icon_home.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-left: 30px;
}

#mainmenu .secondary {
	display: none;
	padding: 10px 0;
	background-color: #f7f7f7;
	position: absolute;
	top: 76px;
	left: 0;
	width: 210px;
	-webkit-box-shadow: 5px 0 5px -5px rgba(0,0,0,.5), 0 5px 5px -5px rgba(0,0,0,.5), -5px 0 5px -5px rgba(0,0,0,.5), inset 0 5px 5px -5px rgba(0,0,0,.5);
	   -moz-box-shadow: 5px 0 5px -5px rgba(0,0,0,.5), 0 5px 5px -5px rgba(0,0,0,.5), -5px 0 5px -5px rgba(0,0,0,.5), inset 0 5px 5px -5px rgba(0,0,0,.5);
	        box-shadow: 5px 0 5px -5px rgba(0,0,0,.5), 0 5px 5px -5px rgba(0,0,0,.5), -5px 0 5px -5px rgba(0,0,0,.5), inset 0 5px 5px -5px rgba(0,0,0,.5);
}

#mainmenu li:hover .secondary {
	display: block;
}

#mainmenu .secondary > li {

}

#mainmenu .secondary > li > a {
	font-size: 16px;
	line-height: 1.2em;
	color: #575757;
	display: block;
	padding: 5px 4px;
	margin: 0 8px;
	border-bottom: 1px solid #d4d4d4;
	background-repeat: no-repeat;
	background-position: 180px center;
}

#mainmenu .secondary > li:hover > a {
	background-color: white;
	margin: 0;
	padding: 5px 12px;
	border-bottom: 1px solid white;
	position: relative;
	background-position: 188px center;
	-webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,.5), 0 -5px 5px -5px rgba(0,0,0,.5);
	   -moz-box-shadow: 0 5px 5px -5px rgba(0,0,0,.5), 0 -5px 5px -5px rgba(0,0,0,.5);
	        box-shadow: 0 5px 5px -5px rgba(0,0,0,.5), 0 -5px 5px -5px rgba(0,0,0,.5);
}

#mainmenu .secondary > li > a.folder {
	background-image: url(../img/icon_plus.png);
}

#mainmenu .secondary > li:hover > a.folder:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 100%;
	background: white;
	top: 0;
	right: -10px;
	z-index: 1000;
}

#mainmenu .tertiary {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	background-color: white;
	width: 190px;
	padding: 10px;
	-webkit-box-shadow: 5px 0 5px -5px rgba(0,0,0,.5), 0 5px 5px -5px rgba(0,0,0,.5), inset 5px 0 5px -5px rgba(0,0,0,.5), inset 0 5px 5px -5px rgba(0,0,0,.5);
	   -moz-box-shadow: 5px 0 5px -5px rgba(0,0,0,.5), 0 5px 5px -5px rgba(0,0,0,.5), inset 5px 0 5px -5px rgba(0,0,0,.5), inset 0 5px 5px -5px rgba(0,0,0,.5);
	        box-shadow: 5px 0 5px -5px rgba(0,0,0,.5), 0 5px 5px -5px rgba(0,0,0,.5), inset 5px 0 5px -5px rgba(0,0,0,.5), inset 0 5px 5px -5px rgba(0,0,0,.5);
}

#mainmenu .secondary li:hover .tertiary {
	display: block;
}

#mainmenu .tertiary > li {

}

#mainmenu .tertiary > li > a {
	font-size: 16px;
	line-height: 1.2em;
	color: #787878;
	display: block;
	padding: 5px 8px;
	border-bottom: 1px solid #d4d4d4;
}

#mainmenu .tertiary > li > a:hover {
	color: #575757;
}


#site_search {
	position: absolute;
	top: 26px;
	right: 0;
	background-color: #e8e8e8;
	width: 90px;
	height: 24px;
}

#site_search input,
#site_search button {
	border: 0px solid transparent;
	padding: 0;
	margin: 0;
	background-color: transparent;
	outline: none;
}

#site_search input {
	font-size: 18px;
	color: #999;
	font-family: 'OSPDIN', sans-serif;
	width: 69px;
	margin: 3px 0 0 4px;
}

#site_search input:focus {
	color: #3d3d3d;
}

#site_search button {
	position: absolute;
	right: 4px;
	top: 5px;
}


#mainmenu.unbalanced .secondary,
#mainmenu.unbalanced .tertiary {
	display: block;
	visibility: hidden;
}


/*
	MAIN
*/


#main {
	width: 960px;
	margin: 113px auto 40px auto;
	padding: 0 0 0 0;
}

.ie7 #main {
	margin-top: 0;
	padding-top: 113px;
}

.content_row {
	padding: 12px 0 0 0;
	border-top: 7px solid white;
	margin: 0 0 12px 0;
}

.content_row:first-child {
	padding: 0;
	border-top: 0px solid transparent;
}


/* hero banner */

.hero_banner {
	float: left;
	width: 638px;
	height: 254px;
	position: relative;
	background-color: white;
}

.hero_banner .nav {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 1px 2px;
	background-color: rgba(255,255,255,.6);
}

.oldie .hero_banner .nav {
	background-color: white;
}

.hero_banner .nav div {
	width: 11px;
	height: 14px;
	background-image: url(../img/icon_dots.png);
	background-repeat: no-repeat;
	float: left;
	margin: 2px;
	cursor: pointer;
}

.hero_banner .nav div.current {
	background-position: right top;
}

.hero_banner .banner_item {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 638px;
	height: 254px;
}

.hero_banner .banner_item:first-child {
	display: block;
}

/* large gallery version */
.hero_banner.large,
.hero_banner.large .banner_item {
	width: 708px;
	height: 307px;
}

.hero_banner.large .image_caption {
	background-color: transparent;
}

.hero_banner.large .nav {
	right: auto;
	left: 0;
}


.image_caption {
	background-color: rgba(255,255,255,.8);
	padding: 12px 10px;
	color: #3d3d3d;
	font-size: 22px;
	text-transform: uppercase;
	position: absolute;
}

.oldie .image_caption {
	background-color: white;
}

.image_caption p {
	margin: 0;
	padding: 0;
}

.banner_item .image_caption {
	top: 10px;
	left: 8px;
	max-width: 280px;
}

.banner_item .image_caption h1,
.banner_item .image_caption h2
{
	font-size: 35px;
	line-height: 1em;
	font-weight: normal;
	margin: 0;
}

.banner_item .image_caption p {
	margin-top: 25px;
}


/* newsbox */

.news_box {
	width: 286px;
	height: 224px;
	padding: 15px;
	margin: 0 0 0 6px;
	background-color: white;
	float: left;
}

.news_box .heading {
	font-size: 35px;
	line-height: 1em;
	text-transform: uppercase;
	margin: 0 0 25px 0;
}

.news_box .news_item {
	margin: 0 0 18px 0;
}

.news_item .date {
	color: #868686;
	text-transform: uppercase;
	font-size: 16px;
	line-height: 1em;
	margin: 0 0 8px 0;
}

.news_item .text {
	color: #818181;
	font-size: 12px;
	line-height: 1.2em;
	width: 190px;
	float: left;
}

.news_item > span > a {
	text-transform: uppercase;
	color: #a6a6a6;
	background-color: #efefef;
	display: block;
	padding: 8px;
	font-size: 16px;
	line-height: 1em;
	float: right;
}

.news_item > span > a:hover {
	color: white;
	background-color: #e31b23;
}

/* box banners */

.box_banner_wrap {
	margin: 12px 0 0 0;
}

.box_banner_wrap:first-child {
	margin: 0;
}

.box_banner {
	width: 316px;
	height: 253px;
	float: left;
	background-color: white;
	margin: 0 0 0 6px;
	position: relative;
}

.box_banner:first-child {
	margin: 0;
}

.box_banner .image_caption {
	bottom: 5px;
	left: 7px;
	max-width: 250px;
}

/* thumbnail banners */

.thumb_banner_wrap {
	margin: 6px 0 0 0;
}

.thumb_banner_wrap:first-child {
	margin: 0;
}

.thumb_banner {
	background-color: white;
	width: 155px;
	height: 156px;
	margin: 0 0 0 6px;
	float: left;
	position: relative;
}

.thumb_banner:first-child {
	margin: 0;
}

/* red image overlay */

.image_overlay {
	position: absolute;
	width: 0;
	height: 0;
	opacity: 0;
	filter: alpha(opacity = 0);
	top: -12px;
	left: -6px;
	padding: 12px 6px;
	z-index: 8000;
	color: white;
	text-transform: uppercase;
	overflow: hidden;

}

.image_overlay .inner {
	padding: 8px;
	position: relative;
	width: 300px;
	height: 237px;
	font-size: 22px;
}

.image_overlay .inner p {
	margin: 0;
}

.image_overlay .heading {
	font-size: 28px;
	margin: 0 0 22px 0;
}

.image_overlay .link a {
	display: block;
	padding: 10px 12px 6px 12px;
	background-color: black;
	position: absolute;
	left: 6px;
	bottom: 0px;
	color: white;
	line-height: 1em;
}

.image_overlay .link a:hover {
	color: black;
	background-color: white;
}

.cssanimations .image_overlay {
	-webkit-transition: .2s ease-out;
	   -moz-transition: .2s ease-out;
	    -ms-transition: .2s ease-out;
	     -o-transition: .2s ease-out;
	-webkit-transition-delay: .2s;
	   -moz-transition-delay: .2s;
	    -ms-transition-delay: .2s;
	     -o-transition-delay: .2s;
}

.cssanimations .box_banner:hover .image_overlay,
.cssanimations .thumb_banner:hover .image_overlay,
.cssanimations .banner_listing_wrap li:hover .image_overlay,
.cssanimations .banner_item:hover .image_overlay {
	width: 100%;
	height: 100%;
	opacity: 1;
	filter: alpha(opacity = 100);
}

.thumb_banner .image_overlay .inner {
	width: 139px;
	height: 140px;
	font-size: 22px;
	line-height: 22px;
}

.thumb_banner .image_overlay .link a {
	padding: 7px 8px 5px 8px;
	font-size: 14px;
	bottom: 0;
}

.banner_listing_wrap li .image_overlay .inner {
	width: 332px;
	height: 130px;
	font-size: 21px;
}

.banner_listing_wrap li .image_overlay .heading {
	font-size: 27px;
	line-height: 1em;
	margin: 0 0 13px 0;
}


.hero_banner .image_overlay .inner {
	width: 475px;
	height: 238px;
	font-size: 24px;
	line-height: 26px;
}

.hero_banner .image_overlay .inner .link {
	font-size: 22px;
}

.hero_banner .image_overlay .heading {
	font-size: 36px;
	line-height: 1em;
	margin: 0 0 13px 0;
}



/*
	BANNER LISTING
*/

.banner_listing_wrap {
	width: 708;
}

.banner_listing_wrap ul {
	list-style: none;
	padding: 0;
	margin: 0 0 4px 0;
	text-transform: uppercase;
}

.banner_listing_wrap li {
	width: 348px;
	height: 148px;
	float: left;
	margin: 0 12px 12px 0;
	background-color: white;
	position: relative;
}

.banner_listing_wrap li h3.red {
	font-size: 27px;
	line-height: 1em;
	position: absolute;
	top: 14px;
	left: 14px;
	width: 150px;
	margin: 0;
	padding: 0;
}

.content_heading {
	width: 680px;
	padding: 14px 14px 10px 14px;
	background-color: rgba(255,255,255,.8);
	color: #525252;
	font-size: 21px;
	margin: 0 0 12px 0;
	text-transform: uppercase;
}

.oldie .content_heading {
	background-color: white;
}

.content_heading h3,
.content_heading a,
.content_heading span {
	padding: 0;
	margin: 0;
	font-size: 21px;
	line-height: 1em;
	text-transform: uppercase;
	color: #515252;
}

.content_heading span.gt {
	font-size: .7em;
	position: relative;
	bottom: 2px;
}

/*
	INFO LISTING
*/

.info_listing_wrap {

}

.listing_item {
	width: 708px;
	background-color: white;
	margin: 0 0 12px 0;
}

.listing_item .item_heading {
	color: #e31b23;
	font-size: 27px;
	line-height: 1em;
	padding: 14px 14px 12px 14px;
	cursor: pointer;
	text-transform: uppercase;
	position: relative;
}

.listing_item .item_heading.open:hover {
	color: #e31b23;
	background-color: white;
}

.listing_item .item_heading:hover {
	color: white;
	background-color: #e31b23;
}

.listing_item .content {
/*	display: none;*/
	position: relative;
}

.listing_item .text {
	padding: 7px 0 35px 14px;
	float: left;
	width: 295px;
}

.listing_item .text p {
	margin: 0 0 15px 0;
	color: #818181;
	font-size: 13px;
	line-height: 18px;
}

.listing_item .listing_gallery {
	width: 376px;
	height: 312px;
	position: relative;
	float: right;
}

.listing_item .listing_gallery > img {
	position: absolute;
	display: none;
	top: 0;
	left: 0;
}

.listing_item .listing_gallery > img:first-child {
	display: block;
}

.listing_gallery .arrow {
	width: 25px;
	height: 25px;
	background-image: url(../img/icon_arrows.png);
	background-repeat: no-repeat;
	position: absolute;
	top: 50%;
	margin: -12px 0 0 0;
	cursor: pointer;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	   -moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	        box-shadow: 0 0 5px rgba(0,0,0,.3);
}

.listing_gallery .arrow.left {
	left: -12px;
	background-position: left top;
}

.listing_gallery .arrow.right {
	right: -12px;
	background-position: right top;
}

.listing_gallery .arrow.left:hover {
	background-position: left bottom;
}

.listing_gallery .arrow.right:hover {
	background-position: right bottom;
}

.toggle_state {
	position: absolute;
	top: 14px;
	right: 14px;
	min-height: 19px;
	background-image: url(../img/icon_plusminus.png);
	background-repeat: no-repeat;
	background-position: right 2px;
	padding: 0 26px 0 0;
}

.item_heading:hover .toggle_state { background-position: right -48px; }
.item_heading.open .toggle_state { background-position: right -23px; }
.item_heading.open:hover .toggle_state { background-position: right -73px; }

.item_heading .toggle_state .open { display: none; }
.item_heading:hover .toggle_state .open { display: block; }
.item_heading.open .toggle_state .open { display: none; }

.item_heading .toggle_state .close { display: none; }
.item_heading.open:hover .toggle_state .close { display: block; }
.item_heading.open .toggle_state .close { display: none; }

.red_link {

}

.red_link > a {
	text-transform: uppercase;
	color: #e31b23;
	font-size: 19px;
	background-image: url(../img/icon_arrow_right.gif);
	background-repeat: no-repeat;
	background-position: right 5px;
	padding: 0 15px 0 0;
	position: absolute;
	left: 14px;
	bottom: 14px;
}


/*
	image text page
*/

.text_image_wrap {
	background-color: white;
}

.text_image_wrap h1 {
	font-size: 27px;
	line-height: 1em;
	padding: 20px 14px;
	text-transform: uppercase;
}

.text_image_wrap .float_left {
	width: 465px;
	margin: 0 0 0 14px;
}

.text_image_wrap .float_right {
	width: 432px;
	margin: 0 14px 0 0;
}

.text_image_wrap .float_right > img {
	display: block;
	margin: 0 0 20px 0;
}

.text_image_wrap .float_right .editable_text {
	padding: 0 0 0 7px;
}

.editable_text p {
	font-size: 13px;
	line-height: 18px;
	color: #818181;
	margin: 0 0 15px 0;
}

.editable_text h1,
.editable_text h2,
.editable_text h3,
.editable_text h4,
.editable_text h5,
.editable_text h6 {
	font-family: 'PFDinTextCompPro-Light', sans-serif;
	font-size: 20px;
	margin: 25px 0 15px 0;
	color: #525252;
	text-transform: uppercase;
}

.editable_text h1:first-child,
.editable_text h2:first-child,
.editable_text h3:first-child,
.editable_text h4:first-child,
.editable_text h5:first-child,
.editable_text h6:first-child {
	margin-top: 0;
}

.editable_text a {
	color: #e31b23;
}

.editable_text ul,
.editable_text ol {
	padding: 0 0 0 25px;
	list-style-type: circle;
	margin: 0 0 15px 0;
}

.editable_text li {
	color: #818181;
}

.banner_fallback p {
	font-family: sans-serif;
	margin: 10px 0 5px 0;
	text-transform: none;
}

.banner_fallback p:last-child {
	margin-bottom: 15px;
}
.banner_fallback p:first-child {
	margin-top: 15px;
}
/*
	LIVE NAV
*/

#content {
	position: relative;
}

#live_nav {
	position: absolute;
	top: 0;
	right: 0;
	width: 225px;
}

#live_nav.fixed {
	position: fixed;
	top: 113px;
	left: 50%;
	right: auto;
	margin: 0 0 0 255px;
}

#live_nav ul {
	background-color: rgba(255,255,255,.8);
	list-style: none;
	padding: 0;
}

.oldie #live_nav ul {
	background-color: white;
}

#live_nav ul.contact {
	margin: 0 0 25px 0;
}

#live_nav li {
	padding: 14px;
}

#live_nav ul li > a {
	color: #818181;
	display: block;
	padding: 0 0 0 60px;
	min-height: 50px;
	position: relative;
	font-size: 12px;
	line-height: 18px;
}

#live_nav ul li > a > img {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
}

#live_nav .heading {
	display: block;
	margin: 0 0 5px 0;
	font-size: 18px;
	text-transform: uppercase;
}



.gradient_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url(../img/overlay_gradient.png);
	background-repeat: repeat-y;
	background-position: center top;
}

.banner_listing_wrap .gradient_overlay {
	background-position: 40% top;
}



/*
	YOUTUBE TEMPLATE
*/

.youtube_link {
	display: none;
}


/*
	NEWS LISTING
*/

.news_listing {

}

.news_listing .listing_item {
	padding-bottom: 14px;
}

.news_listing .listing_item.hover {
	background-color: #E31B23;
}

.news_listing .listing_item.hover.current {
	background-color: white;
}

.news_listing .listing_item.hover .item_heading .date,
.news_listing .listing_item.hover .text p {
	color: #fff;
}

.news_listing .listing_item.hover.current .item_heading .date {
	color: #5b5b5b;
}
.news_listing .listing_item.hover.current .text p {
	color: #818181;
}

.news_listing .listing_item .text {
	float: none;
	padding-right: 14px;
	padding-bottom: 1px;
	width: auto;
}

.next_news {
	font-size: 19px;
	background-image: url(../img/icon_arrow_down.gif);
	background-repeat: no-repeat;
	background-position: right 8px;
	padding: 0 20px 0 0;
	cursor: pointer;
	text-align: right;
	margin: 0 14px 0 550px;
}

.news_image {
	padding: 0 14px;
}

.listing_item .item_heading .date {
	color: #5b5b5b;
}

.news_listing .listing_item .content {
	overflow: hidden;
	display: block;
}


/*
	CONTACT PAGE
*/

.contact_page {

}

.text_image_page .content_heading,
.text_only_page .content_heading,
.text_movie_small_page .content_heading,
.youtube_embed_page .content_heading,
.contact_page .content_heading {
	width: auto;
}

.left_column {
	width: 485px;
	float: left;
}

.contact_page .left_column {
	background-color: white;
	width: 457px;
	padding: 14px;
}

.contact_page .left_column h1,
.contact_page .left_column h3 {
	text-transform: uppercase;
	font-size: 27px;
	line-height: 1em;
	margin: 0 0 10px 0;
}

.right_column {
	width: 465px;
	float: right;
}

.right_column .listing_item {
	width: 100%;
}

.location_info {
	list-style: none;
	padding: 14px;
	color: #828181;
	margin: 0;
}

.location_info .tabname {
	display: none;
}

.location_info .heading {
	font-size: 21px;
	text-transform: uppercase;
}

.location_info .address,
.location_info .address p {
	font-size: 13px;
}

.location_info .phone,
.location_info .fax {
	width: 50%;
	float: left;
}

.location_info .googlemap {
	clear: both;
	margin: 40px 0 0 0;
	width: 435px;
	height: 250px;
}

.googlemap .config {
	display: none;
}

.location_names {
	list-style: none;
	padding: 5px 14px 0 14px;
	margin: 0 0 16px 0;
}

.location_names li {
	float: left;
	text-transform: uppercase;
	text-decoration: underline;
	font-size: 16px;
	line-height: 1em;
	padding: 0 10px;
	border-right: 1px solid #828181;
	color: #828181;
	cursor: pointer;
	margin: 0 0 6px 0;
}

.location_names li:first-child {
	padding-left: 0;
}

.location_names li:last-child {
	border-right: 0px solid #fff;
}

.location_listing.listing_item .content {
	display: none;
}


/*
	FORM
*/

.standard_form {

}

.standard_form input[type=text],
.standard_form input[type=password],
.standard_form textarea,
.standard_form select {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	width: 100%;
	border: 1px solid #bab8b8;
	margin: 0;
	padding: 3px 5px;
	font-size: 12px;
	background-color: #f8f9fa;
	outline: none;
}

.standard_form input[type=text]:focus,
.standard_form input[type=password]:focus,
.standard_form textarea:focus,
.standard_form select:focus {
	border: 1px solid #aaa;
}

.standard_form textarea {
	height: 75px;
	resize: none;
}

.standard_form .form_item {
	margin-bottom: 10px;
}

.standard_form .form_item label {
	font-weight: bold;
	display: block;
	color: #6c6c6c;
	margin: 0 0 2px 0;
	padding: 0 0 0 3px;
}

.standard_form .form_item label.error {
	color: #f00;
}

.standard_form .form_item.half {
	width: 224px;
	float: left;
	margin: 0 0 10px 9px;
}

.standard_form .form_item.half:first-child {
	margin-left: 0;
}

.standard_form .form_item.fourth {
	width: 110px;
	margin: 0 0 10px 4px;
	float: left;
}

.standard_form .form_item.fourth:first-child {
	margin-left: 0;
}

.form_row p {
	float: left;
	margin: 0 5px 0 0;
}

.standard_form button {
	color: white;
	background-color: #ff0000;
	font-size: 23px;
	line-height: 1em;
	display: block;
	border: 0px solid white;
	padding: 5px 25px;
	float: right;
	margin: 0;
}

.standard_form .sending {
	float: right;
	display: none;
}

.standard_form .sending img {
	border-radius: 8px;
	position: relative;
	top: 4px;
	overflow: hidden;
}

/*
	GALLERY
*/

#gallery {
	width: 680px;
	height: 460px;
	padding: 14px;
	margin: 0 0 40px 0;
	background-color: white;
	position: relative;
}

#gallery .image_wrap {

}

.image_wrap .item {
	position: absolute;
	top: 14px;
	left: 14px;
	display: none;
	width: 680px;
}

.image_wrap .item:first-child {
	display: block;
}

.image_wrap .item > img {
	display: block;
}

.image_wrap .item h3 {
	font-size: 21px;
	line-height: 1em;
	text-transform: uppercase;
	color: #666;
	padding: 15px 5px 10px 5px;
}

.image_wrap .item .caption {
	padding: 0 5px;
}

.gallery_nav {
	position: absolute;
	bottom: 120px;
	left: 14px;
	width: 680px;
	height: 0px;
	overflow: hidden;
}

.gallery_nav .item {
	padding: 6px;
	margin: 10px 0 0 0;
	width: 38px;
	height: 38px;
	background-color: rgba(0,0,0,.6);
	float: left;
	position: relative;
	cursor: pointer;
	opacity: .75;
	filter: alpha(opacity = 75);
}

.oldie .gallery_nav .item {
	background-color: black;
}

.gallery_nav .item:hover {
	opacity: 1;
	filter: alpha(opacity = 100);
}

.gallery_nav .item .indicator {
	position: absolute;
	width: 0;
	height: 0;
	border: 10px solid transparent;
	border-bottom: 10px solid rgba(0,0,0,.6);
	left: 50%;
	top: -20px;
	margin: 0 0 0 -10px;
	display: none;
}

.oldie .gallery_nav .item .indicator {
	border-bottom: 10px solid black;
}

.gallery_nav .item.current .indicator {
	display: block;
}

.gallery_nav .item .img {
	width: 38px;
	height: 38px;
	overflow: hidden;
	position: relative;
}

.gallery_nav .item .img > img {
	position: absolute;
	top: 0;
	left: -17px;
	width: 73px;
	height: 38px;
}


/*
	YOUTUBE EMBED
*/

.youtube_embed.text_image_wrap .float_left {
	width: 620px;
	padding: 0 0 10px 0;
}

.youtube_embed.text_image_wrap .float_right {
	width: 295px;
}

.youtube_embed.text_image_wrap
{
	margin: 0 0 20px 0;
}

/*
	SEARCH RESULTS
*/

.search_results {
	padding: 14px;
	background-color: white;
	width: 680px;
/*	min-height: 450px;*/
	margin: 0 0 20px 0;
}

.search_results ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.search_results li {
	position: relative;
	margin: 0 0 20px 0;
	padding: 0 0 0 25px;
}

.search_results li span {
	position: absolute;
	text-align: right;
	width: 18px;
	top: 0;
	left: 0;
	font-size: 19px;
	color: #515151;
}

.search_results li > a {
	font-size: 19px;
	color: #515151;
	text-transform: uppercase;
}

.search_results li p {
	margin: 5px 0 0 0;
}

.search_results li p a {
	color: #e5696f;
}



/*
	FOOTER
*/

#footer {
	padding: 12px 0 0 0;
	border-top: 7px solid white;
}

#footer .social {
	background-color: white;
	padding: 10px;
	margin: 0 0 5px 0;
}

#footer .social ul {
	list-style: none;
	padding: 2px 0 0 0;
	margin: 0;
}

#footer .social ul li {
	float: left;
	margin: 0 14px 0 0;
}

#footer .social ul li.heading {
	margin: 0 20px 0 0;
	font-size: 22px;
	color: #3d3d3d;
	text-transform: uppercase;
	position: relative;
	top: 3px;
}

#footer .social ul a {

}

#footer .smallprint {
	background-color: white;
	padding: 5px 10px;
	font-size: 12px;
	color: #7d7d7d;
}

#footer .smallprint a {
	color: #7d7d7d;
}

#footer .designed_by {
	float: left;
}

#footer .designed_by a {
	text-decoration: underline;
}

#footer .copyright {
	float: right;
}

#footer .copyright ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#footer .copyright li {
	float: left;
	margin: 0 0 0 10px;
}

#footer .copyright a {

}

.division_logo {
	width: 150px;
	margin-top: 20px;
	-ms-interpolation-mode: bicubic;
}

/* Newsletter Signup Form in footer */

#newsletter_form {
	float: right;
	position: relative;
	padding: 0 26px 0 0;
}

#newsletter_form span {
	font-size: 22px;
	color: #3d3d3d;
	text-transform: uppercase;
	position: relative;
	top: 3px;
	right: 6px;
}

#newsletter_form input[type=text] {
	font-size: 13px;
	line-height: 20px;
	padding: 8px 10px 4px 10px;
	width: 150px;
	background-color: #e4e4e4;
	outline: none;
	margin: 0;
	border: 0 solid transparent;
	color: #666;
}

#newsletter_form input[type=text].error {
	color: red;
}

#newsletter_form input[type=submit] {
	font-size: 19px;
	font-weight: bold;
	color: white;
	background-color: #828282;
	border: 0 solid transparent;
	padding: 5px 3px;
	outline: none;
	margin: 0;
}

#newsletter_form .ajax {
	position: absolute;
	width: 22px;
	height: 32px;
	top: 0;
	right: 0;
	background-image: url(../img/ajax-loader.gif);
	background-repeat: no-repeat;
	background-position: center;
	background-color: #828282;
	display: none;
}

#newsletter_form button {
	position: absolute;
	top: 0;
	right: 0;
	border: 0px solid transparent;
	display: block;
	margin: 0;
	padding: 0;
}

#newsletter_form button img {
	display: block;
}





/* =============================================================================
   Non-semantic helper classes
   Please define your styles before this section.
   ========================================================================== */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.float_left { float: left; }
.float_right { float: right; }


/* =============================================================================
   PLACEHOLDER Media Queries for Responsive Design.
   These override the primary ('mobile first') styles
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* Style adjustments for viewports 480px and over go here */

}

@media only screen and (min-width: 768px) {
  /* Style adjustments for viewports 768px and over go here */

}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
