<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><%= title %></title>
	<meta name="keywords" content="<%=  keywords  %>">
	<meta name="description" content="<%=  description  %>">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/templates/pact_alto/css/style.css">

	<% if @mode == 'edit' %>
		<link rel="stylesheet" href="/templates/pact_alto/css/blocks.css">
	<% else %>
		<script src="/templates/pact_alto/js/modernizr-2.0.6.min.js"></script>
	<% end %>

</head>
<body class="home_page">

	<div id="header">
		<%= render :link => "header_image_link", :text_editable => true, :link_value => "/templates/pact_alto/img/bg_header.jpg",  :href => "/templates/pact_alto/img/bg_header.jpg",:text => "Link to header image" %>
	</div> <!-- eo #header -->

	<div id="mainmenu_wrap">
		<div class="upper"></div>
		<div class="shadow"></div>
		<div class="inner">
			<a href="<%= @page.site.primary_domain %>" id="alto_logo" class="ir">alto</a>

			<!-- MAIN MENU -->
			<%= render :navigation => "Main" , :template_name => 'main.nav' %>
			<!-- end MAIN MENU -->

		</div>
	</div> <!-- eo #mainmenu -->

	<div id="main">

		<div id="content" class="clearfix">

			<div class="content_row clearfix">
				<div class="hero_banner font_pf_din">

					<%= render :region => 'hero_banners', :max_repeats => 6 do %>
						<div class="banner_item">
							<%= render :image => 'hero_banner_img', :default => "/templates/pact_alto/img/dummy/638x254.gif", :width => "638", :height => "254" %>
							<div class="image_caption">
								<h2 class="red"><%= render :textual => 'hero_banner_red_heading', :default => 'Suspendisse dictum feugiat', :maxlength => '100' %></h2>
								<p><%= render :textual => 'hero_banner_caption', :type => :multi, :wysiwyg => false, :default => "Sed nec diam eu diam mattis viverra. Nulla fringilla, orci ac." %></p>
							</div>
							<div class="image_overlay red_bg">
								<div class="inner">
									<div class="heading"><%= render :textual => 'hero_banner_overlay_heading', :default => 'Proin vel ante a orci tempus', :maxlength => '75' %></div>
									<div class="text"><p><%= render :textual => 'hero_banner_overlay_caption', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p></div>
									<div class="link"><%= render :link => "hero_banner_overlay_link", :text_editable => true, :link_value => "#", :text => "View More" %></div>
								</div>
							</div>
						</div> <!-- eo .banner_item -->
					<% end # end hero_banners %>

				</div>

				<div class="news_box">
					<div class="heading font_pf_din red">
						<%= render :textual => 'newsbox_heading', :default => 'What we\'ve been up to', :maxlength => '50' %>
					</div>

					<%= render :region => 'news_items', :max_repeats => 2 do %>
						<div class="news_item clearfix">
							<div class="date font_osp_din"><%= render :textual => 'news_item_date', :default => '2 Sept 2011', :maxlength => '25' %></div>
							<div class="text"><%= render :textual => 'news_item_text', :default => 'Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta.', :maxlength => '100' %></div>
							<span class="font_osp_din"><%= render :link => "news_item_link", :text_editable => true, :link_value => "#", :text => "View More" %></span>
						</div>
					<% end %>

				</div>
			</div> <!-- eo .content_row -->



			<div class="content_row">

				<%= render :region => 'box_banner_rows', :max_repeats => 2 do %>
				<div class="box_banner_wrap font_pf_din clearfix">

					<div class="box_banner">
						<%= render :image => 'box_banner_img1', :default => "/templates/pact_alto/img/dummy/316x253.gif", :width => "316", :height => "253" %>
						<div class="image_caption">
							<p><%= render :textual => 'box_banner_caption1', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p>
						</div>
						<div class="image_overlay red_bg">
							<div class="inner">
								<div class="heading"><%= render :textual => 'box_banner_overlay_heading1', :default => 'Proin vel ante a orci tempus', :maxlength => '50' %></div>
								<div class="text"><p><%= render :textual => 'box_banner_overlay_caption1', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p></div>
								<div class="link"><%= render :link => "box_banner_overlay_link1", :text_editable => true, :link_value => "#", :text => "View More" %></div>
							</div>
						</div>
					</div> <!-- eo .box_banner 1 -->

					<div class="box_banner">
						<%= render :image => 'box_banner_img2', :default => "/templates/pact_alto/img/dummy/316x253.gif", :width => "316", :height => "253" %>
						<div class="image_caption">
							<p><%= render :textual => 'box_banner_caption2', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p>
						</div>
						<div class="image_overlay red_bg">
							<div class="inner">
								<div class="heading"><%= render :textual => 'box_banner_overlay_heading2', :default => 'Proin vel ante a orci tempus', :maxlength => '50' %></div>
								<div class="text"><p><%= render :textual => 'box_banner_overlay_caption2', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p></div>
								<div class="link"><%= render :link => "box_banner_overlay_link2", :text_editable => true, :link_value => "#", :text => "View More" %></div>
							</div>
						</div>
					</div> <!-- eo .box_banner 2 -->

					<div class="box_banner">
						<%= render :image => 'box_banner_img3', :default => "/templates/pact_alto/img/dummy/316x253.gif", :width => "316", :height => "253" %>
						<div class="image_caption">
							<p><%= render :textual => 'box_banner_caption3', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p>
						</div>
						<div class="image_overlay red_bg">
							<div class="inner">
								<div class="heading"><%= render :textual => 'box_banner_overlay_heading3', :default => 'Proin vel ante a orci tempus', :maxlength => '50' %></div>
								<div class="text"><p><%= render :textual => 'box_banner_overlay_caption3', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p></div>
								<div class="link"><%= render :link => "box_banner_overlay_link3", :text_editable => true, :link_value => "#", :text => "View More" %></div>
							</div>
						</div>
					</div> <!-- eo .box_banner 3 -->

				</div> <!-- eo .box_banner_wrap -->
				<% end %>

			</div> <!-- eo .content_row -->



			<div class="content_row">
				<%= render :region => 'thumb_banner_wraps', :max_repeats => 2 do %>
					<div class="thumb_banner_wrap font_pf_din clearfix">

						<div class="thumb_banner">
							<%= render :image => 'thumb_banner_img1', :default => "/templates/pact_alto/img/dummy/155x156.gif", :width => "155", :height => "156" %>
							<div class="image_overlay red_bg">
								<div class="inner">
									<div class="text"><p><%= render :textual => 'thumb_banner_caption1', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p></div>
									<div class="link"><%= render :link => "thumb_banner_link1", :text_editable => true, :link_value => "#", :text => "View More" %></div>
								</div>
							</div>
						</div><!-- eo .thumb banner 1 -->

						<div class="thumb_banner">
							<%= render :image => 'thumb_banner_img2', :default => "/templates/pact_alto/img/dummy/155x156.gif", :width => "155", :height => "156" %>
							<div class="image_overlay red_bg">
								<div class="inner">
									<div class="text"><p><%= render :textual => 'thumb_banner_caption2', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p></div>
									<div class="link"><%= render :link => "thumb_banner_link2", :text_editable => true, :link_value => "#", :text => "View More" %></div>
								</div>
							</div>
						</div><!-- eo .thumb banner 2 -->

						<div class="thumb_banner">
							<%= render :image => 'thumb_banner_img3', :default => "/templates/pact_alto/img/dummy/155x156.gif", :width => "155", :height => "156" %>
							<div class="image_overlay red_bg">
								<div class="inner">
									<div class="text"><p><%= render :textual => 'thumb_banner_caption3', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p></div>
									<div class="link"><%= render :link => "thumb_banner_link3", :text_editable => true, :link_value => "#", :text => "View More" %></div>
								</div>
							</div>
						</div><!-- eo .thumb banner 3 -->

						<div class="thumb_banner">
							<%= render :image => 'thumb_banner_img4', :default => "/templates/pact_alto/img/dummy/155x156.gif", :width => "155", :height => "156" %>
							<div class="image_overlay red_bg">
								<div class="inner">
									<div class="text"><p><%= render :textual => 'thumb_banner_caption4', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p></div>
									<div class="link"><%= render :link => "thumb_banner_link4", :text_editable => true, :link_value => "#", :text => "View More" %></div>
								</div>
							</div>
						</div><!-- eo .thumb banner 4 -->

						<div class="thumb_banner">
							<%= render :image => 'thumb_banner_img5', :default => "/templates/pact_alto/img/dummy/155x156.gif", :width => "155", :height => "156" %>
							<div class="image_overlay red_bg">
								<div class="inner">
									<div class="text"><p><%= render :textual => 'thumb_banner_caption5', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p></div>
									<div class="link"><%= render :link => "thumb_banner_link5", :text_editable => true, :link_value => "#", :text => "View More" %></div>
								</div>
							</div>
						</div><!-- eo .thumb banner 5 -->

						<div class="thumb_banner">
							<%= render :image => 'thumb_banner_img6', :default => "/templates/pact_alto/img/dummy/155x156.gif", :width => "155", :height => "156" %>
							<div class="image_overlay red_bg">
								<div class="inner">
									<div class="text"><p><%= render :textual => 'thumb_banner_caption6', :type => :multi, :wysiwyg => false, :default => "Curabitur vulputate, ligula lacinia scelerisque tempor." %></p></div>
									<div class="link"><%= render :link => "thumb_banner_link6", :text_editable => true, :link_value => "#", :text => "View More" %></div>
								</div>
							</div>
						</div><!-- eo .thumb banner 6 -->

					</div> <!-- eo .thumb_banner_wrap -->

				<% end %>

			</div> <!-- eo .content_row -->



		</div> <!-- eo #content -->

		<!-- FOOTER -->
		<%= include_site_widget("alto_footer") %>
		<!-- end FOOTER -->

	</div> <!--! eo #main -->




	<script src="/templates/pact_alto/js/jquery.min.js" charset="utf-8"></script>


</body>
</html>
