<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	<title><%= title %></title>
	<meta name="keywords" content="<%=  keywords  %>">
	<meta name="description" content="<%=  description  %>">

	<meta name="viewport" content="width=device-width,initial-scale=1">

	<link rel="stylesheet" href="/templates/pact_alto/css/style.css">

	<% if @mode == 'edit' %>
		<link rel="stylesheet" href="/templates/pact_alto/css/blocks.css">
	<% else %>
		<script src="/templates/pact_alto/js/modernizr-2.0.6.min.js"></script>
	<% end %>

</head>
<body class="listing_2_page lift">

	<div id="header">
		<%= render :link => "header_image_link", :text_editable => true, :link_value => "/templates/pact_alto/img/bg_header.jpg",  :href => "/templates/pact_alto/img/bg_header.jpg",:text => "Link to header image" %>
	</div> <!-- eo #header -->

	<div id="mainmenu_wrap">
		<div class="upper"></div>
		<div class="shadow"></div>
		<div class="inner">
			<a href="<%= @page.site.primary_domain %>" id="alto_logo" class="ir">alto</a>

			<!-- MAIN MENU -->
			<%= render :navigation => "Main" , :template_name => 'main.nav' %>
			<!-- end MAIN MENU -->

		</div>
	</div> <!-- eo #mainmenu -->

	<div id="main">

		<div id="content" class="clearfix">


			<div class="info_listing_wrap news_listing">

				<div class="content_heading font_pf_din">
					<% @breadcrumbs.each_with_index do |crumb,i| %>
						<% if i > 0 %>
							<span class="gt">&gt;</span>
						<% end %>
						<a href="<%= crumb['url'] %>"><%= crumb['name'] %></a>
					<% end -%>
				</div>


				<%= render :region => 'listing_image_gallery1', :max_repeats => 25 do %>
					<div class="listing_item">
						<div class="item_heading font_pf_din">
							<span class="date"><%= render :textual => 'item_date', :default => '13 Nov 11', :maxlength => '12' %></span>
							<span class="date">-</span>
							<span><%= render :textual => 'item_heading1', :default => 'Bakery Packaging', :maxlength => '75' %></span>
							<div class="toggle_state">
								<span class="open">OPEN</span>
								<span class="close">CLOSE</span>
							</div>
						</div>
						<div class="content clearfix">
							<div class="text editable_text">
								<%= render :textual => 'overlay_text1', :type => :multi, :default => "<p><strong>Vivamus id mollis quam. Morbi ac commodo nulla. In condimentum orci id nisl volutpat bibendum. Vivamus id mollis quam. Morbi ac commodo nulla. In condimentum orci id nisl volutpat bibendum..</strong></p><p>Vivamus id mollis quam. Morbi ac commodo nulla. In condimentum orci id nisl volutpat bibendum. Quisque commodo hendrerit lorem quis egestas. Maecenas quis tortor arcu. Vivamus rutrum nunc non neque consectetur quis placerat neque lobortis.s suscipit, sem diam ultrices mauris, eu consequat purus metus eu velit. Proin metus odio, aliquam eget molestie nec, gravida ut sapien.</p>" %>
							</div>
							<div class="news_image">
								<%= render :link => "news_img_wrap", :text_editable => false, :link_value => '#' do %>
									<%= render :image => 'news_img', :default => "/templates/pact_alto/img/dummy/g1.gif", :width => 50..680, :height => 10..460 %>
								<% end %>

							</div>
							<div class="next_news font_pf_din red">NEXT ARTICLE</div>
						</div>
					</div><!-- eo .listing_item -->
				<% end %>


			</div> <!-- eo .info_listing_wrap -->


			<div id="live_nav">
				<ul class="contact">
					<li>
						<%= render :link => "livenav_top_link", :text_editable => false, :link_value => '/contact' do %>
							<%= render :image => 'livenav_top_icon', :default => "/templates/pact_alto/img/icon_livenav_email.png", :width => "50", :height => "50" %>
							<span class="heading font_osp_din"><%= render :textual => 'livenav_top_heading', :default => 'Contact Alto', :maxlength => '30' %></span>
							<span class=""><%= render :textual => 'livenav_top_text', :default => 'View contact info for New Zealand &amp; Australia', :maxlength => '75' %></span>
						<% end %>
					</li>
				</ul>

				<ul>
					<%= render :region => 'livenav_items', :max_repeats => 6 do %>
						<li>
							<%= render :link => "livenav_rr_link", :text_editable => false, :link_value => '#' do %>
								<%= render :image => 'livenav_rr_icon', :default => "/templates/pact_alto/img/icon_livenav_download.png", :width => "50", :height => "50" %>
								<span class="heading font_osp_din"><%= render :textual => 'livenav_rr_heading', :default => 'Catalogue Download', :maxlength => '30' %></span>
								<span class=""><%= render :textual => 'livenav_rr_text', :default => 'Download our catalogue for more detail.', :maxlength => '75' %></span>
							<% end %>
						</li>
					<% end %>
				</ul>
			</div>


		</div> <!-- eo #content -->

		<!-- FOOTER -->
		<%= include_site_widget("alto_footer") %>
		<!-- end FOOTER -->

	</div> <!--! eo #main -->




	<script src="/templates/pact_alto/js/jquery.min.js" charset="utf-8"></script>


</body>
</html>
